{
  "extend": "eslint:recommended",
  "parser": "babel-eslint",
  "settings": {
    "ecmascript": 7
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "node": true,
    "mocha": true,
    "browser": true,
    "jquery": true
  },
  "globals": {
    "expect": true,
    "src": true,
    "src_rewire": true,
    "sinon": true,
    "__rootDir": true
  },
  "rules": {
    "no-unused-vars": 1,
    "no-undef": 2,
    "no-const-assign": 2,
    "no-class-assign": 2
  }
}
